In [1]:
import numpy as np
import pandas as pd

In [9]:
confirmed_case = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv', error_bad_lines=False)

In [12]:
confirmed_case.columns

Index(['Province/State', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       ...
       '5/11/20', '5/12/20', '5/13/20', '5/14/20', '5/15/20', '5/16/20',
       '5/17/20', '5/18/20', '5/19/20', '5/20/20'],
      dtype='object', length=124)

In [35]:
confirmed_case.loc[:,{'5/20/20','Country/Region'}]
confirmed_case.loc[confirmed_case['Country/Region'] == "India"]

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/11/20,5/12/20,5/13/20,5/14/20,5/15/20,5/16/20,5/17/20,5/18/20,5/19/20,5/20/20
131,NaN,India,21.0,78.0,0,0,0,0,0,0,...,70768,74292,78055,81997,85784,90648,95698,100328,106475,112028

In [36]:
death_case = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv")

In [37]:
death_case.columns

Index(['Province/State', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       ...
       '5/11/20', '5/12/20', '5/13/20', '5/14/20', '5/15/20', '5/16/20',
       '5/17/20', '5/18/20', '5/19/20', '5/20/20'],
      dtype='object', length=124)

In [38]:
death_case.loc[death_case['Country/Region'] == "India"]

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/11/20,5/12/20,5/13/20,5/14/20,5/15/20,5/16/20,5/17/20,5/18/20,5/19/20,5/20/20
131,NaN,India,21.0,78.0,0,0,0,0,0,0,...,2294,2415,2551,2649,2753,2871,3025,3156,3302,3434

In [39]:
recovered_case = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv")

In [40]:
recovered_case.columns

Index(['Province/State', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       ...
       '5/11/20', '5/12/20', '5/13/20', '5/14/20', '5/15/20', '5/16/20',
       '5/17/20', '5/18/20', '5/19/20', '5/20/20'],
      dtype='object', length=124)

In [41]:
recovered_case.loc[recovered_case['Country/Region'] == "India"]

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/11/20,5/12/20,5/13/20,5/14/20,5/15/20,5/16/20,5/17/20,5/18/20,5/19/20,5/20/20
125,NaN,India,21.0,78.0,0,0,0,0,0,0,...,22549,24420,26400,27969,30258,34224,36795,39233,42309,45422

In [50]:
from subprocess import check_output
print(check_output(["ls", "../input/data"]).decode("utf8"))

FileNotFoundError: [WinError 2] The system cannot find the file specified

SyntaxError: invalid syntax (<ipython-input-45-d56fe6c582f5>, line 1)