In [7]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

In [40]:
data = pd.read_csv('Predicting-House-Prices-In-Bengaluru-Train-Data.csv',nrows=50)
data.shape

(50, 9)

In [41]:
data.drop_duplicates(inplace = True)

In [42]:
data.shape

(50, 9)

In [43]:
data.isnull().sum()

area_type        0
availability     0
location         0
size             0
society         18
total_sqft       0
bath             0
balcony          6
price            0
dtype: int64

In [44]:
data.describe()

            bath    balcony       price
count  50.000000  44.000000   50.000000
mean    2.700000   1.500000  105.571200
std     1.446318   0.849076  110.724755
min     1.000000   0.000000   15.000000
25%     2.000000   1.000000   41.250000
50%     2.000000   1.500000   61.000000
75%     3.000000   2.000000  122.750000
max     9.000000   3.000000  600.000000

In [45]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 0 to 49
Data columns (total 9 columns):
area_type       50 non-null object
availability    50 non-null object
location        50 non-null object
size            50 non-null object
society         32 non-null object
total_sqft      50 non-null object
bath            50 non-null int64
balcony         44 non-null float64
price           50 non-null float64
dtypes: float64(2), int64(1), object(6)
memory usage: 3.9+ KB

In [46]:
data.size.sort_values(ascending = False)

AttributeError: 'numpy.int32' object has no attribute 'sort_values'

In [47]:
data.rename(columns={'size':'Roomsize'}, inplace = True)
data

,area_type,availability,location,Roomsize,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2,1.0,51.00
5,Super built-up Area,Ready To Move,Whitefield,2 BHK,DuenaTa,1170,2,1.0,38.00
6,Super built-up Area,18-May,Old Airport Road,4 BHK,Jaades,2732,4,NaN,204.00
7,Super built-up Area,Ready To Move,Rajaji Nagar,4 BHK,Brway G,3300,4,NaN,600.00
8,Super built-up Area,Ready To Move,Marathahalli,3 BHK,NaN,1310,3,1.0,63.25
9,Plot Area,Ready To Move,Gandhi Bazar,6 Bedroom,NaN,1020,6,NaN,370.00
10,Super built-up Area,18-Feb,Whitefield,3 BHK,NaN,1800,2,2.0,70.00
11,Plot Area,Ready To Move,Whitefield,4 Bedroom,Prrry M,2785,5,3.0,295.00
12,Super built-up Area,Ready To Move,7th Phase JP Nagar,2 BHK,Shncyes,1000,2,1.0,38.00
13,Built-up Area,Ready To Move,Gottigere,2 BHK,NaN,1100,2,2.0,40.00
14,Plot Area,Ready To Move,Sarjapur,3 Bedroom,Skityer,2250,3,2.0,148.00
15,Super built-up Area,Ready To Move,Mysore Road,2 BHK,PrntaEn,1175,2,2.0,73.50
16,Super built-up Area,Ready To Move,Bisuvanahalli,3 BHK,Prityel,1180,3,2.0,48.00
17,Super built-up Area,Ready To Move,Raja Rajeshwari Nagar,3 BHK,GrrvaGr,1540,3,3.0,60.00
18,Super built-up Area,Ready To Move,Ramakrishnappa Layout,3 BHK,PeBayle,2770,4,2.0,290.00
19,Super built-up Area,Ready To Move,Manayata Tech Park,2 BHK,NaN,1100,2,2.0,48.00
20,Built-up Area,Ready To Move,Kengeri,1 BHK,NaN,600,1,1.0,15.00
21,Super built-up Area,19-Dec,Binny Pete,3 BHK,She 2rk,1755,3,1.0,122.00
22,Plot Area,Ready To Move,Thanisandra,4 Bedroom,Soitya,2800,5,2.0,380.00
23,Super built-up Area,Ready To Move,Bellandur,3 BHK,NaN,1767,3,1.0,103.00
24,Super built-up Area,18-Nov,Thanisandra,1 RK,Bhe 2ko,510,1,0.0,25.25
25,Super built-up Area,18-May,Mangammanapalya,3 BHK,NaN,1250,3,2.0,56.00
26,Super built-up Area,Ready To Move,Electronic City,2 BHK,Itelaa,660,1,1.0,23.10
27,Built-up Area,20-Dec,Whitefield,3 BHK,NaN,1610,3,2.0,81.00
28,Super built-up Area,17-Oct,Ramagondanahalli,2 BHK,ViistLa,1151,2,2.0,48.77
29,Super built-up Area,Ready To Move,Electronic City,3 BHK,KBityo,1025,2,1.0,47.00
30,Super built-up Area,19-Dec,Yelahanka,4 BHK,LedorSa,2100 - 2850,4,0.0,186.00
31,Super built-up Area,Ready To Move,Bisuvanahalli,3 BHK,Prityel,1075,2,1.0,35.00
32,Super built-up Area,Ready To Move,Hebbal,3 BHK,Mahosya,1760,2,2.0,123.00
33,Super built-up Area,Ready To Move,Raja Rajeshwari Nagar,3 BHK,GrrvaGr,1693,3,3.0,57.39
34,Built-up Area,Ready To Move,Kasturi Nagar,3 BHK,Kantsce,1925,3,NaN,125.00
35,Super built-up Area,21-Dec,Kanakpura Road,2 BHK,PrarePa,700,2,1.0,36.00
36,Super built-up Area,Ready To Move,Electronics City Phase 1,2 BHK,NaN,1070,2,1.0,45.50
37,Super built-up Area,Ready To Move,Kundalahalli,3 BHK,Dieldli,1724,3,2.0,125.00
38,Super built-up Area,Ready To Move,Chikkalasandra,3 BHK,NaN,1290,2,2.0,56.12
39,Built-up Area,Ready To Move,Uttarahalli,2 BHK,NaN,1143,2,2.0,45.00
40,Built-up Area,Ready To Move,Murugeshpalya,2 BHK,Gentson,1296,2,NaN,81.00
41,Super built-up Area,19-Dec,Sarjapur Road,3 BHK,Soini T,1254,3,2.0,38.00
42,Super built-up Area,Ready To Move,Ganga Nagar,1 BHK,Ceove G,600,1,0.0,38.00
43,Plot Area,Ready To Move,Yelahanka,1 Bedroom,NaN,660,1,0.0,48.00
44,Super built-up Area,19-Sep,Kanakpura Road,2 BHK,Soazak,1330.74,2,2.0,91.79
45,Plot Area,Ready To Move,HSR Layout,8 Bedroom,NaN,600,9,NaN,200.00
46,Super built-up Area,Ready To Move,Doddathoguru,2 BHK,LancyRe,970,2,0.0,33.00
47,Super built-up Area,20-Sep,Whitefield,2 BHK,Goted U,1459,2,1.0,94.82
48,Plot Area,Ready To Move,KR Puram,2 Bedroom,NaN,800,1,1.0,130.00
49,Built-up Area,Ready To Move,Himagiri Meadows,2 BHK,NaN,869,2,1.0,36.00

In [48]:
data.replace(r'^\s*$', np.nan, regex=True)

,area_type,availability,location,Roomsize,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2,1.0,51.00
5,Super built-up Area,Ready To Move,Whitefield,2 BHK,DuenaTa,1170,2,1.0,38.00
6,Super built-up Area,18-May,Old Airport Road,4 BHK,Jaades,2732,4,NaN,204.00
7,Super built-up Area,Ready To Move,Rajaji Nagar,4 BHK,Brway G,3300,4,NaN,600.00
8,Super built-up Area,Ready To Move,Marathahalli,3 BHK,NaN,1310,3,1.0,63.25
9,Plot Area,Ready To Move,Gandhi Bazar,6 Bedroom,NaN,1020,6,NaN,370.00
10,Super built-up Area,18-Feb,Whitefield,3 BHK,NaN,1800,2,2.0,70.00
11,Plot Area,Ready To Move,Whitefield,4 Bedroom,Prrry M,2785,5,3.0,295.00
12,Super built-up Area,Ready To Move,7th Phase JP Nagar,2 BHK,Shncyes,1000,2,1.0,38.00
13,Built-up Area,Ready To Move,Gottigere,2 BHK,NaN,1100,2,2.0,40.00
14,Plot Area,Ready To Move,Sarjapur,3 Bedroom,Skityer,2250,3,2.0,148.00
15,Super built-up Area,Ready To Move,Mysore Road,2 BHK,PrntaEn,1175,2,2.0,73.50
16,Super built-up Area,Ready To Move,Bisuvanahalli,3 BHK,Prityel,1180,3,2.0,48.00
17,Super built-up Area,Ready To Move,Raja Rajeshwari Nagar,3 BHK,GrrvaGr,1540,3,3.0,60.00
18,Super built-up Area,Ready To Move,Ramakrishnappa Layout,3 BHK,PeBayle,2770,4,2.0,290.00
19,Super built-up Area,Ready To Move,Manayata Tech Park,2 BHK,NaN,1100,2,2.0,48.00
20,Built-up Area,Ready To Move,Kengeri,1 BHK,NaN,600,1,1.0,15.00
21,Super built-up Area,19-Dec,Binny Pete,3 BHK,She 2rk,1755,3,1.0,122.00
22,Plot Area,Ready To Move,Thanisandra,4 Bedroom,Soitya,2800,5,2.0,380.00
23,Super built-up Area,Ready To Move,Bellandur,3 BHK,NaN,1767,3,1.0,103.00
24,Super built-up Area,18-Nov,Thanisandra,1 RK,Bhe 2ko,510,1,0.0,25.25
25,Super built-up Area,18-May,Mangammanapalya,3 BHK,NaN,1250,3,2.0,56.00
26,Super built-up Area,Ready To Move,Electronic City,2 BHK,Itelaa,660,1,1.0,23.10
27,Built-up Area,20-Dec,Whitefield,3 BHK,NaN,1610,3,2.0,81.00
28,Super built-up Area,17-Oct,Ramagondanahalli,2 BHK,ViistLa,1151,2,2.0,48.77
29,Super built-up Area,Ready To Move,Electronic City,3 BHK,KBityo,1025,2,1.0,47.00
30,Super built-up Area,19-Dec,Yelahanka,4 BHK,LedorSa,2100 - 2850,4,0.0,186.00
31,Super built-up Area,Ready To Move,Bisuvanahalli,3 BHK,Prityel,1075,2,1.0,35.00
32,Super built-up Area,Ready To Move,Hebbal,3 BHK,Mahosya,1760,2,2.0,123.00
33,Super built-up Area,Ready To Move,Raja Rajeshwari Nagar,3 BHK,GrrvaGr,1693,3,3.0,57.39
34,Built-up Area,Ready To Move,Kasturi Nagar,3 BHK,Kantsce,1925,3,NaN,125.00
35,Super built-up Area,21-Dec,Kanakpura Road,2 BHK,PrarePa,700,2,1.0,36.00
36,Super built-up Area,Ready To Move,Electronics City Phase 1,2 BHK,NaN,1070,2,1.0,45.50
37,Super built-up Area,Ready To Move,Kundalahalli,3 BHK,Dieldli,1724,3,2.0,125.00
38,Super built-up Area,Ready To Move,Chikkalasandra,3 BHK,NaN,1290,2,2.0,56.12
39,Built-up Area,Ready To Move,Uttarahalli,2 BHK,NaN,1143,2,2.0,45.00
40,Built-up Area,Ready To Move,Murugeshpalya,2 BHK,Gentson,1296,2,NaN,81.00
41,Super built-up Area,19-Dec,Sarjapur Road,3 BHK,Soini T,1254,3,2.0,38.00
42,Super built-up Area,Ready To Move,Ganga Nagar,1 BHK,Ceove G,600,1,0.0,38.00
43,Plot Area,Ready To Move,Yelahanka,1 Bedroom,NaN,660,1,0.0,48.00
44,Super built-up Area,19-Sep,Kanakpura Road,2 BHK,Soazak,1330.74,2,2.0,91.79
45,Plot Area,Ready To Move,HSR Layout,8 Bedroom,NaN,600,9,NaN,200.00
46,Super built-up Area,Ready To Move,Doddathoguru,2 BHK,LancyRe,970,2,0.0,33.00
47,Super built-up Area,20-Sep,Whitefield,2 BHK,Goted U,1459,2,1.0,94.82
48,Plot Area,Ready To Move,KR Puram,2 Bedroom,NaN,800,1,1.0,130.00
49,Built-up Area,Ready To Move,Himagiri Meadows,2 BHK,NaN,869,2,1.0,36.00

In [49]:
data.Roomsize.str.replace(' Bedroom',' BHK')

0     2 BHK
1     4 BHK
2     3 BHK
3     3 BHK
4     2 BHK
5     2 BHK
6     4 BHK
7     4 BHK
8     3 BHK
9     6 BHK
10    3 BHK
11    4 BHK
12    2 BHK
13    2 BHK
14    3 BHK
15    2 BHK
16    3 BHK
17    3 BHK
18    3 BHK
19    2 BHK
20    1 BHK
21    3 BHK
22    4 BHK
23    3 BHK
24     1 RK
25    3 BHK
26    2 BHK
27    3 BHK
28    2 BHK
29    3 BHK
30    4 BHK
31    3 BHK
32    3 BHK
33    3 BHK
34    3 BHK
35    2 BHK
36    2 BHK
37    3 BHK
38    3 BHK
39    2 BHK
40    2 BHK
41    3 BHK
42    1 BHK
43    1 BHK
44    2 BHK
45    8 BHK
46    2 BHK
47    2 BHK
48    2 BHK
49    2 BHK
Name: Roomsize, dtype: object

In [50]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 0 to 49
Data columns (total 9 columns):
area_type       50 non-null object
availability    50 non-null object
location        50 non-null object
Roomsize        50 non-null object
society         32 non-null object
total_sqft      50 non-null object
bath            50 non-null int64
balcony         44 non-null float64
price           50 non-null float64
dtypes: float64(2), int64(1), object(6)
memory usage: 6.4+ KB

In [51]:
data.Roomsize.fillna(method = "ffill", inplace = True)
data

,area_type,availability,location,Roomsize,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2,1.0,51.00
5,Super built-up Area,Ready To Move,Whitefield,2 BHK,DuenaTa,1170,2,1.0,38.00
6,Super built-up Area,18-May,Old Airport Road,4 BHK,Jaades,2732,4,NaN,204.00
7,Super built-up Area,Ready To Move,Rajaji Nagar,4 BHK,Brway G,3300,4,NaN,600.00
8,Super built-up Area,Ready To Move,Marathahalli,3 BHK,NaN,1310,3,1.0,63.25
9,Plot Area,Ready To Move,Gandhi Bazar,6 Bedroom,NaN,1020,6,NaN,370.00
10,Super built-up Area,18-Feb,Whitefield,3 BHK,NaN,1800,2,2.0,70.00
11,Plot Area,Ready To Move,Whitefield,4 Bedroom,Prrry M,2785,5,3.0,295.00
12,Super built-up Area,Ready To Move,7th Phase JP Nagar,2 BHK,Shncyes,1000,2,1.0,38.00
13,Built-up Area,Ready To Move,Gottigere,2 BHK,NaN,1100,2,2.0,40.00
14,Plot Area,Ready To Move,Sarjapur,3 Bedroom,Skityer,2250,3,2.0,148.00
15,Super built-up Area,Ready To Move,Mysore Road,2 BHK,PrntaEn,1175,2,2.0,73.50
16,Super built-up Area,Ready To Move,Bisuvanahalli,3 BHK,Prityel,1180,3,2.0,48.00
17,Super built-up Area,Ready To Move,Raja Rajeshwari Nagar,3 BHK,GrrvaGr,1540,3,3.0,60.00
18,Super built-up Area,Ready To Move,Ramakrishnappa Layout,3 BHK,PeBayle,2770,4,2.0,290.00
19,Super built-up Area,Ready To Move,Manayata Tech Park,2 BHK,NaN,1100,2,2.0,48.00
20,Built-up Area,Ready To Move,Kengeri,1 BHK,NaN,600,1,1.0,15.00
21,Super built-up Area,19-Dec,Binny Pete,3 BHK,She 2rk,1755,3,1.0,122.00
22,Plot Area,Ready To Move,Thanisandra,4 Bedroom,Soitya,2800,5,2.0,380.00
23,Super built-up Area,Ready To Move,Bellandur,3 BHK,NaN,1767,3,1.0,103.00
24,Super built-up Area,18-Nov,Thanisandra,1 RK,Bhe 2ko,510,1,0.0,25.25
25,Super built-up Area,18-May,Mangammanapalya,3 BHK,NaN,1250,3,2.0,56.00
26,Super built-up Area,Ready To Move,Electronic City,2 BHK,Itelaa,660,1,1.0,23.10
27,Built-up Area,20-Dec,Whitefield,3 BHK,NaN,1610,3,2.0,81.00
28,Super built-up Area,17-Oct,Ramagondanahalli,2 BHK,ViistLa,1151,2,2.0,48.77
29,Super built-up Area,Ready To Move,Electronic City,3 BHK,KBityo,1025,2,1.0,47.00
30,Super built-up Area,19-Dec,Yelahanka,4 BHK,LedorSa,2100 - 2850,4,0.0,186.00
31,Super built-up Area,Ready To Move,Bisuvanahalli,3 BHK,Prityel,1075,2,1.0,35.00
32,Super built-up Area,Ready To Move,Hebbal,3 BHK,Mahosya,1760,2,2.0,123.00
33,Super built-up Area,Ready To Move,Raja Rajeshwari Nagar,3 BHK,GrrvaGr,1693,3,3.0,57.39
34,Built-up Area,Ready To Move,Kasturi Nagar,3 BHK,Kantsce,1925,3,NaN,125.00
35,Super built-up Area,21-Dec,Kanakpura Road,2 BHK,PrarePa,700,2,1.0,36.00
36,Super built-up Area,Ready To Move,Electronics City Phase 1,2 BHK,NaN,1070,2,1.0,45.50
37,Super built-up Area,Ready To Move,Kundalahalli,3 BHK,Dieldli,1724,3,2.0,125.00
38,Super built-up Area,Ready To Move,Chikkalasandra,3 BHK,NaN,1290,2,2.0,56.12
39,Built-up Area,Ready To Move,Uttarahalli,2 BHK,NaN,1143,2,2.0,45.00
40,Built-up Area,Ready To Move,Murugeshpalya,2 BHK,Gentson,1296,2,NaN,81.00
41,Super built-up Area,19-Dec,Sarjapur Road,3 BHK,Soini T,1254,3,2.0,38.00
42,Super built-up Area,Ready To Move,Ganga Nagar,1 BHK,Ceove G,600,1,0.0,38.00
43,Plot Area,Ready To Move,Yelahanka,1 Bedroom,NaN,660,1,0.0,48.00
44,Super built-up Area,19-Sep,Kanakpura Road,2 BHK,Soazak,1330.74,2,2.0,91.79
45,Plot Area,Ready To Move,HSR Layout,8 Bedroom,NaN,600,9,NaN,200.00
46,Super built-up Area,Ready To Move,Doddathoguru,2 BHK,LancyRe,970,2,0.0,33.00
47,Super built-up Area,20-Sep,Whitefield,2 BHK,Goted U,1459,2,1.0,94.82
48,Plot Area,Ready To Move,KR Puram,2 Bedroom,NaN,800,1,1.0,130.00
49,Built-up Area,Ready To Move,Himagiri Meadows,2 BHK,NaN,869,2,1.0,36.00

In [52]:
data.isnull().sum()

area_type        0
availability     0
location         0
Roomsize         0
society         18
total_sqft       0
bath             0
balcony          6
price            0
dtype: int64

In [53]:
data[data.location.isnull()]

Empty DataFrame
Columns: [area_type, availability, location, Roomsize, society, total_sqft, bath, balcony, price]
Index: []

In [54]:
data.location.fillna(method = "ffill", inplace = True)

In [55]:
data.isnull().sum()

area_type        0
availability     0
location         0
Roomsize         0
society         18
total_sqft       0
bath             0
balcony          6
price            0
dtype: int64

In [56]:
data.area_type = data.area_type.astype('str')
data.area_type.dtype

dtype('O')

In [57]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 0 to 49
Data columns (total 9 columns):
area_type       50 non-null object
availability    50 non-null object
location        50 non-null object
Roomsize        50 non-null object
society         32 non-null object
total_sqft      50 non-null object
bath            50 non-null int64
balcony         44 non-null float64
price           50 non-null float64
dtypes: float64(2), int64(1), object(6)
memory usage: 6.4+ KB

In [58]:
data.society.fillna(method = "ffill", inplace = True)
data.bath.fillna(method = "ffill", inplace = True)
data.balcony.fillna(method = "ffill", inplace = True)

In [59]:
data.describe()

            bath    balcony       price
count  50.000000  50.000000   50.000000
mean    2.700000   1.520000  105.571200
std     1.446318   0.838852  110.724755
min     1.000000   0.000000   15.000000
25%     2.000000   1.000000   41.250000
50%     2.000000   1.500000   61.000000
75%     3.000000   2.000000  122.750000
max     9.000000   3.000000  600.000000

In [60]:
data.isnull().sum()

area_type       0
availability    0
location        0
Roomsize        0
society         0
total_sqft      0
bath            0
balcony         0
price           0
dtype: int64

In [61]:
'''data['area_type'] = data['area_type'].astype(str)
data['location'] = data['location'].astype(str)
data['total_sqft'] = data['total_sqft'].astype(str)
data['price'] = data['price'].astype(str) '''
print (data.info())
x_train = data.loc[:,["area_type","location","total_sqft"]]
y_train = data.price
print (x_train.shape)
print (y_train.shape)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 0 to 49
Data columns (total 9 columns):
area_type       50 non-null object
availability    50 non-null object
location        50 non-null object
Roomsize        50 non-null object
society         50 non-null object
total_sqft      50 non-null object
bath            50 non-null int64
balcony         50 non-null float64
price           50 non-null float64
dtypes: float64(2), int64(1), object(6)
memory usage: 6.4+ KB
None
(50, 3)
(50,)

In [62]:
testdata = pd.read_csv('Predicting-House-Prices-In-Bengaluru-Test-Data.csv')
testdata.isnull().sum()
testdata.drop_duplicates(inplace = True)
testdata.shape
testdata.isnull().sum()

area_type          0
availability       0
location           0
size               2
society          617
total_sqft         0
bath               5
balcony           67
price           1447
dtype: int64

In [63]:
x_test = testdata.loc[:,["total_sqft"]]
y_test = testdata.price

In [66]:
model = LinearRegression()
model.fit(x_train,y_train)

ValueError: could not convert string to float: '2100 - 2850'

In [95]:
x.train.iloc[1131]

area_type     Super built-up  Area
location                    Hennur
total_sqft                    1255
Name: 1133, dtype: object